sudo: required

language: node_js

node_js:
  - "8"

dist: trusty

cache:
  directories:
    - node_modules

addons:
  chrome: stable

script:
  - npm run test
  - npm run build

deploy:
  provider: firebase
  token: $FIREBASE_TOKEN
  skip_cleanup: true
